* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --verdeprincipal: #005a1b; 
    --verdecomplementar: #009719;
    --verdealternativo: #12680e;
    --pretotexto: #000000;
    --cremefundo: hsl(36, 71%, 73%);
    --fundo: #694112d7;
    --fundoescuro:#3d2100ee;
    --branco: #ffffff;
    --marromcomplementar: #5c320f;
    --botoes: #999898;
    --botoesclaro: #bebdbd;
}

body{
    background-color: var(--cremefundo);
}

header{
    background-image: linear-gradient(to bottom, var(--pretotexto) 20%, var(--verdeprincipal)); 
    color: var(--verdealternativo);
    padding: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.568);
}

header h1{
    font-size: 4em;
    margin-left: 15px;
    text-shadow: 5px 3px 5px #00000085;
}

header nav{
    align-self: center;
    background-color: var(--botoes);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 50px;
    border: 3px solid  #2c2b2b;
    box-shadow: 2px 2px 5px #000000bd ;
}

header nav a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--pretotexto);
}

section#principal{
    display: grid;
    grid-template-columns: 10px 50% 40% 10px;
    margin-top: 10px;
    padding: 40px 0;
    background-image: linear-gradient(to right, var(--fundo), var(--fundoescuro) 60%);
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #070707b2;
}

section#principal h1{
    grid-column: 2;
    align-self: center;
    margin-left: 10%;
    font-size: 3em;
    font-weight: bolder;
    color: var(--verdeprincipal);
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.712);
    line-height: 0.85;
   
}

section#principal img{
    grid-column: 3;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 5px solid #ffffff;
    outline: 5px solid var(--verdealternativo);
    box-shadow: 0px 0px 50px rgb(248, 248, 248);
    box-shadow: 0px 0px 30px rgba(66, 172, 4, 0.849);
}

section#botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

section#botoes a{
    background-color: var(--botoes);
    width: 40%;
    padding: 18px;
    text-decoration: none;
    color: var(--pretotexto);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.123);
    outline: 3px solid var(--botoes) ;
    box-shadow: 3px 5px 5px black;
}

section#botoes a:hover{
    background-color: var(--botoesclaro);
    outline: 3px solid var(--botoesclaro);
}

article#dados{
    background-image: linear-gradient(to bottom right, var(--fundo), var(--fundoescuro));
    padding: 20px;
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.637);
}

article#dados h1{
    font-size: 2.5em;
}

article h2.dado{
    margin-top: 10px;
    font-weight: bolder
}

article p.dado{

}